table, th, td {
    border: 2px solid black;
}

table {
    background-color: #FFFFCC;
}

td {
    padding-left: 20px;
    padding-right: 20px;
}

.header {
    margin-top: 2%;
    margin-left: auto;
    margin-right: auto;
}

.t1 {
    background-color: cadetblue;
    color: #FFFFCC;
    font-size: 50px;
    padding-left: 20px;
    padding-right: 20px;
}

.sub {
    text-align: center;
    font-weight: 1000;
    color: indigo;
    padding-top: 7px;
    padding-bottom: 7px;
    font-size: 40px;
    background-image: -webkit-linear-gradient(left, #f00, #ff2b00, #f50, #ff8000, #fa0, #ffd500, #ff0, #d4ff00, #af0, #80ff00, #5f0, #2bff00, #0f0, #00ff2a, #0f5, #00ff80, #0fa, #00ffd5, #0ff, #00d5ff, #0af, #0080ff, #05f, #002aff, #00f, #2b00ff, #50f, #8000ff, #a0f, #d400ff, #f0f, #ff00d4, #f0a, #ff0080, #f05, #ff002b, #f00);
    -webkit-animation: animatedBackground_a 5s linear infinite alternate;
    -webkit-background-clip: text;
    -webkit-text-fill-color: #0000;
    background-clip: text;
}

@keyframes animatedBackground_a {
    0% { background-position: 0 0 }
    100% { background-position: -500px 0 }
}

.contact {
    font-size: 22px;
    font-weight: 1000;
    text-align: center;
    color: blueviolet;
}

.contact td {
    padding-top: 7px;
    padding-bottom: 7px;
}

.social {
    margin-top: 1%;
    margin-left: auto;
    margin-right: auto;
}

.icons {
    text-align: center;
}

.icons img {
    padding: 5px;
    height: 30px;
}

.i {
    background-image: linear-gradient(to bottom right, violet,red, yellow);
}

.t {
    background-image: linear-gradient(to bottom right, rgb(99, 205, 209), white);
}

.l {
    background-image: linear-gradient(to bottom right, rgb(51, 173, 255), white);
}
.controls {
    text-align: center;
    padding: 10px;
}

.audio {
    background-color: #FFFFCC;
    margin-top: 2%;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    width: 50%;
}

.audio td {
    width: 75%;
    background-color: gray;
}

.audio-width {
    width: 100%;
}

.aboutme {
    margin-top: 3%;
    margin-left: auto;
    margin-right: auto;
}

.aboutme th {
    background-color: rgb(204, 114, 31);
    color: #FFFFCC;
    font-size: 30px;
}

.aboutme-content {
    margin-top: 3%;
    margin-left: auto;
    margin-right: auto;
}

.enlarge:hover {
    transform: scale(2.5);
}

.project-title {
    margin-top: 3%;
    margin-left: auto;
    margin-right: auto;
}

.project-title th {
    background-color: rgb(44, 204, 70);
    color: #FFFFCC;
    font-size: 30px;
}

.main {
    margin-top: 3%;
    margin-left: auto;
    margin-right: auto;
}

.rg-banner {
    background-color: black;
}

.rg-image {
    padding: 10px;
}

.video {
    text-align: center;
    padding: 10px;
}

.text {
    font-size: 25px;
    padding: 20px;
}

.guy-image {
    padding: 10px;
    width: 40%;
}

.copy {
    margin-top: 5%;
    margin-left: auto;
    margin-right: auto;
}
